* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.head{ 
  display: flex;
  justify-content: space-around; 
  align-items: center;  
}
a:link { 
  text-decoration: none;
} 
a:visited { 
  text-decoration: none;
  color: rgba(51,51,51,1);
} 
a:hover { 

  /* border-bottom-width:4px ; 
  border-bottom-style: outset; */

  padding-bottom:3px;
  transition: 0.5s;
  background-image: linear-gradient(90deg, #e93b3b, #f2a640);
  background-position: bottom;
  background-size: 100% 10%;
  background-repeat: no-repeat;
}

a:active { 
  text-decoration: none; 
}
.sections{
  width: 250px;
  height: 70px;
  text-align: center;
  /* color: rgba(51,51,51,1);  */
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  padding: 20px;
}
#slogan {
  padding: 20px, 10px;
  width: 500px;
  font-size: 24px;
  align-self: left;
}
#main_section {
  font-family: Montserrat;
  font-weight: Medium;
}
#my_training {
  width: 300px;
  font-family: Montserrat;
  font-weight: Medium;
}
#profile_section {
  font-family: Montserrat;
  font-weight: Medium;
}
.v633_61 {
  margin: 10px;
  color: rgba(51,51,51,1);
  z-index: 1;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 32px;
  text-align: center;
}
.gray_bcground {
  width: 100%;
  margin-top: 40px;
  background: rgba(247,246,246,1);
  z-index: -1;
  overflow: hidden;
}
.icons{
  margin-top: 100px;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;

}
.profile_icon {
  width: 190px;
  height: 160px;

  background: url("../images/profile_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  z-index: 1;
}
.map {
  width: 190px;
  height: 160px;
  background: url("../images/v633_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}
.weight {
  width: 190px;
  height: 160px;
  background: url("../images/v633_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  z-index: 1;
}*/
.v633_45 {
  color: rgba(51,51,51,1);
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v633_46 {
  width: 67px;
  height: 44px;
  background: url("../images/v633_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 42px;
  overflow: hidden;
}
.v633_47 {
  width: 38px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 14px;
  border: 2px solid rgba(170,58,58,1);
  overflow: hidden;
}
.v633_48 {
  width: 18px;
  height: 44px;
  background: url("../images/v633_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 49px;
  overflow: hidden;
}
.v633_49 {
  width: 18px;
  height: 44px;
  background: url("../images/v633_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v633_50 {
  width: 18px;
  height: 44px;
  background: rgba(255,250,250,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(170,58,58,1);
}
.name {
  color: #fff;
}
.v633_52 {
  width: 18px;
  height: 44px;
  background: url("../images/v633_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v633_53 {
  width: 18px;
  height: 44px;
  background: url("../images/v633_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 19px;
  overflow: hidden;
}
.v633_54 {
  width: 18px;
  height: 44px;
  background: rgba(255,250,250,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(170,58,58,1);
}
.name {
  color: #fff;
}

.v633_60 {
  text-align: center;
  color: rgba(51,51,51,1);
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  margin: 10px;
  padding: 10px 50px;
}
.info_about_site{
  width: 100%;
  display: flex;
  justify-content: space-evenly;

}
.body_image {
  width: 100%;
  height: 750px;
  background: url("../images/v633_69.png");
  background-position: center center;
  opacity: 1;
  top: 1169px;
  left: 0px;
  overflow: hidden;
}
.icon_container{
  display: flex;
  justify-content: space-around; 
  align-items: center;

}
#icon {
  width: 300px;
  height: 150px;
  padding: 10px;
  background: url("../images/icon.png"); 
  background-position: center center;
  background-size: cover;
  opacity: 1;
}
.grid {
  display: grid;
  margin: 30px;
  font-family: Montserrat;
  grid-template-rows: repeat(minmax(4, 100px));
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-self: space-around;
  align-items: space-around;
}
.grid__item {
  padding: 50px;
  place-items: center;
  background-color: #fff;
  border-radius: .4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: var(--transition);
}

.card__img {
  display: block;
  margin: auto; 
}

.card__header {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-header);
  margin-bottom: 1.5rem;
}

.card__text {
  font-size: 1.5rem;
  font-size: 1rem;
  line-height: 1.7;
  height: 100px;
  color: darken(var(--color-text), 1%);
  text-align: center;
}

.card__btn {
  margin-bottom: 0;
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: button;
  background-color: var(--color-btn-background);
  border: none;
  border-radius: .4rem;
  transition: var(--transition);
  cursor: pointer;
}

.card__btn span {
  margin-left: 1rem;
  transition: var(--transition);
}
.characteristics{
  color: rgba(51,51,51,1);
  font-family: Montserrat;
  font-size: 40px;
  padding-left: 150px;
}
.profile_photo {
  margin: 0px auto 100px;
  display: block;
  width: 8em;
  height: 8em;
  border: solid 3px white;
  border-radius: 5em;
  box-shadow: -1px 2px 6px 1px #490e0e;
}

.saved_trainings {
  width: 100%;
  margin-top: 40px;
  background: rgba(247,246,246,1);
  z-index: -1;
  overflow: hidden;
}

.grid__item_video {
  align-items: space-around;
  padding: 50px;
  place-items: center;
  background-color: #fff;
  border-radius: .4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: stretch;
  align-items: space-around;
}

.video {
  flex: 1;
  position: relative;
  border-right: none;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  background-color: rgb(100, 105, 127);
  border-radius: 0 5px 5px 0;
}

.description {
  flex: 1;
  padding-left: 20px;
}

.description p {
  margin-top: 0;
}


/* Ð½Ð°Ð·Ð²Ð° Ð¼'ÑÐ·Ñ–Ð² */
.middle-text{
  position: relative;
  font-family:monospace;
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 50px;
  text-align:center;
  margin-left: 5px;
  margin-top: 40px;
  
}


/* footer */
.site-footer{
  min-height: 60vh;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color:#33353d;
  text-align: center;
  padding-top: 25px;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;

}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}

.save_logo{
width: 50px;
height: 50px;
position: absolute;
padding-right: 10px;
}
.hover_img{
width: 50px;
height: 50px;
display: none;
position: absolute;
padding-right: 10px;
}

.save_exrs:hover .hover_img{
display: inline;
}

.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#33353d
}
.copyright-text
{
margin:0
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
  margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
  padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
  text-align:center
}
}
.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}
@media (max-width:767px)
{
.social-icons li.title
{
  display:block;
  margin-right:0;
  font-weight:600
}
}