/* main page + interactive map */

* {
  box-sizing: border-box;
}
.mark{
  background: transparent;
  border: none;
}
.material-icons-outlined {
  color: gray;
}

#toastBox{
  font-family: Montserrat;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  z-index: 10000;
}
.toast{
  width: 300px;
  height: 50px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Add a shadow */
  margin: 15px 0;
  align-items: center;
  display: flex;
  z-index: 10000;
}
.toast span{
  margin: 0 20px;
  color:rgb(231, 96, 96);
}

/* .msg{
} */
.grid {
  display: grid;
  margin: 30px;
  font-family: Montserrat;
  grid-template-rows: repeat(minmax(4, 100px));
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-self: space-around;
  align-items: space-around;
}
.grid__item {
  padding: 50px;
  place-items: center;
  background-color: #fff;
  border-radius: .4rem;
  overflow: hidden;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: var(--transition);
  margin: 50px;
}
.grid__item_exerc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  place-items: center;
  background-color: #fff;
  border-radius: .4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: var(--transition);
  align-items: stretch;
  align-items: space-around;
}
.grid__item_video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  cursor: pointer;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  /* align-items: stretch;
  align-items: space-around; */
  margin-inline: 10%;
}
  
.head{ 
  display: flex;
  justify-content: space-around; 
  align-items: center;  
}
a:link { 
  text-decoration: none;
  color: black;
  font-family: Montserrat;
} 
a:visited { 
  text-decoration: none;
  color: rgba(51,51,51,1);
} 
/* a::before{
  content:'';
  position:absolute;
  right:0;
  bottom:0;
  width:0;
   background-image: linear-gradient(to right, #e93b3b, #f2a640); 
  transition: width 0.25s ease-out;

}
 a:hover::before{
  width: 100%;
  left:0;
  right:auto;
} 
a:hover { 
  padding-bottom:3px;
  transition: 0.5s;
  background-image: linear-gradient(to right, #e93b3b, #f2a640);
  background-position: bottom;
  background-size: 100% 10%;
  background-repeat: no-repeat;
}
*/
.description {
  width: 560px;
  padding: 25px;
}

.description p {
  margin-top: 0;
}
.video {
  position: relative;
  border-right: none;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a.underline-hover-effect {
  text-decoration: none;
  color: inherit;
}

.underline-hover-effect {
  display: inline-block;
  padding-bottom: 0.25rem; /* defines the space between text and underline */
  position: relative;
}

.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to right, #e93b3b, #f2a640);
  transition: width 0.25s ease-out;
}
.underline-hover-effect:hover::before {
  width: 100%;
}
/* body {
  display: grid;
  place-items: center;
  height: 100vh;
} */

.card {
  border: 1px solid #eaeaea;
  border-radius: 15px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  width: 300px;
}

.card__icon {
  align-self: center;
  fill: blue;
  order: 1;
  width: 100px;
}

h2 {
  order: 2;
  display: flex;
  justify-content: center;
}

p {
  order: 3;
}
/* 
.nav__link{
  position: relative;
} */

/* .nav__link::after{
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgb(152, 48, 48);
  display: block;
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
}  */

/* .nav__link:hover::after{
  border-bottom: #490e0e 3px solid;
  text-decoration: underline;
  opacity: 1;
  transition: opacity 0.5s;
} 
a:active { 
  text-decoration: none; 
} */
/* a::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #26af26;
} */
.sections{
  width: 250px;
  height: 70px;
  text-align: center;
  color: rgba(51,51,51,1);
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  padding: 20px;
}
#slogan {
  padding: 20px, 10px;
  width: 500px;
  font-size: 24px;
  align-self: left;
}
#main_section {
  color: rgba(170,58,58,1);
  font-family: Montserrat;
  font-weight: Medium;
}
#my_training {
  width: 300px;
  font-family: Montserrat;
  font-weight: Medium;
}
#profile_section {
  font-family: Montserrat;
  font-weight: Medium;
}
.v633_61 {
  margin: 10px;
  color: rgba(51,51,51,1);
  z-index: 1;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 32px;
  text-align: center;
}
.gray_bcground {
  width: 100%;
  margin-top: 40px;
  background: rgba(247,246,246,1);
  z-index: -1;

  overflow: hidden;
}
.icons{
  margin-top: 100px;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;

}
.profile_icon {
  width: 190px;
  height: 160px;

  background: url("../images/profile_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  z-index: 1;
}
.map {
  width: 190px;
  height: 160px;
  background: url("../images/v633_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}
.weight {
  width: 190px;
  height: 160px;
  background: url("../images/v633_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  z-index: 1;
}
.v633_45 {
  color: rgba(51,51,51,1);
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v633_46 {
  width: 67px;
  height: 44px;
  background: url("../images/v633_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 42px;
  overflow: hidden;
}
.v633_47 {
  width: 38px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 14px;
  border: 2px solid rgba(170,58,58,1);
  overflow: hidden;
}
.v633_48 {
  width: 18px;
  height: 44px;
  background: url("../images/v633_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 49px;
  overflow: hidden;
}
.v633_49 {
  width: 18px;
  height: 44px;
  background: url("../images/v633_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v633_50 {
  width: 18px;
  height: 44px;
  background: rgba(255,250,250,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(170,58,58,1);
}
.name {
  color: #fff;
}
.v633_52 {
  width: 18px;
  height: 44px;
  background: url("../images/v633_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v633_53 {
  width: 18px;
  height: 44px;
  background: url("../images/v633_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 19px;
  overflow: hidden;
}
.v633_54 {
  width: 18px;
  height: 44px;
  background: rgba(255,250,250,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(170,58,58,1);
}
.name {
  color: #fff;
}

.v633_60 {
  text-align: center;
  color: rgba(51,51,51,1);
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 25px;

  margin: 200px;
  padding: 10px 50px;
}
.info_about_site{
  width: 100%;
  display: flex;
  justify-content: space-evenly;

}
.body_image {
  width: 100%;
  height: 750px;
  background: url("../images/v633_69.png");
  background-position: center center;
  opacity: 1;
  top: 1169px;
  left: 0px;
  overflow: hidden;
}
.icon_container{
  display: flex;
  justify-content: space-around; 
  align-items: center;

}
#icon {
  width: 300px;
  height: 150px;
  padding: 10px;
  background: url("../images/icon.png"); 
  background-position: center center;
  background-size: cover;
  opacity: 1;
}
/* .grid {
  display: grid;
  font-family: Montserrat;
  grid-template-rows: repeat(minmax(4, 100px));
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-self: space-around;
  align-items: space-around;
} */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.grid__item_header {
  place-items: center;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: 0.5s;
  height: 500px;
  margin: 25px;
  padding: 25px;
}


.grid__item {
  place-items: center;
  background-color: #fff;
  border-radius: .4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: 0.5s;
  height: 500px;
}
.grid__item_header:hover {
  transform: translateY(-3px);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
}

.card__img {
  display: block;
  margin: auto; 
}

.card__header {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-header);
  margin-bottom: 1.5rem;
}

.card__text {
  font-size: 1.5rem;
  font-size: 1rem;
  line-height: 1.7;
  height: 100px;
  width: 300px;
  color: darken(var(--color-text), 1%);
  text-align: center;
}

.card__btn {
  margin-bottom: 0;
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: button;
  background-color: var(--color-btn-background);
  border: none;
  border-radius: .4rem;
  transition: var(--transition);
  cursor: pointer;
}
.card__btn_signin{
  margin-bottom: 0;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: button;
  background-color: var(--color-btn-background);
  border: none;
  border-radius: .4rem;
  transition: var(--transition);
  cursor: pointer;
  text-align: center;
}
.card__btn span {
  margin-left: 1rem;
  transition: var(--transition);
}
.characteristics{
  color: rgba(51,51,51,1);
  font-family: Montserrat;
  font-size: 40px;
  padding-left: 150px;
}
.profile_photo {
  margin: 0px auto 100px;
  display: block;
  width: 8em;
  height: 8em;
  border: solid 3px white;
  border-radius: 5em;
  box-shadow: -1px 2px 6px 1px #490e0e;
}
/* 

.wrapper { 
width: 100%;
overflow: hidden;
position: absolute;
top: 30%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}


.btn-outline {
 margin: 30px auto 0;
width: 210px;
height: 40px;
display: block;
}

.btn-outline .shape {
stroke-dasharray: 100 310;
stroke-dashoffset: -304;
stroke-width: 5px;
fill: transparent;
stroke: #733434;
-webkit-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
-ms-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.btn-outline .text { 
top: -34px;
position: relative;
color: #e76a6a;
font-size: 1.5em;
letter-spacing: 4px;
margin-right: -4px;
}

.btn-outline:hover .shape {
 stroke-width: 2px;
stroke-dashoffset: 0;
stroke-dasharray: 550;
}

.no-svg #btn-outline {
 color: #284637;
font-size: 1.7em;
line-height: 40px;
letter-spacing: 4px;
text-indent: 4px;
border: 2px solid #3d47b4;
} */

.muscle{
  opacity: 1;
}
.muscle:hover{
  background-color: #cb5353;
  transition: 0.5s ;
  transition: opacity 0.5s ;
  opacity: 0.5; 
  cursor: pointer;
} 
/* a:hover{
  transition: 0.5s ;
  transition: opacity 0.5s ;
  opacity: 0.5; 
  cursor: pointer;
  
} */

.underline-06 {
  background-image: linear-gradient(90deg, #e67399, #f2a640);
  background-position: bottom;
  background-size: 100% 30%;
  background-repeat: no-repeat;
}

input[type="search"]{
  border-radius: 30px;
  border: solid 1px;
  border-color: rgba(170,58,58,1);
  font-size: 20px;
  background: rgb(239, 239, 239);
  width: 80vw;
  max-width: 600px;
  color: rgba(170,58,58,1);
  font-family: sans-serif;
  height: 48px;
  padding: 15px;
  display: block;
  margin: auto;

}