{% extends "exercises.html" %}

{% block content %}
    <div class='cantainer-3'>
    <span class="v633_61"><h2>{{ muscle }}</h2></span>
    <div class="saved_trainings">
    {% for training in trainings %}
        {% if training.muscle == muscle %}
        <div class="grid">
            <div class="grid__item_video">
                <div class="video">
                    <iframe width="560" height="315" src="{{ training.video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="description">
                    <h2>{{ training.name }}</h2>
                    <p>{{ training.description }}</p>
                </div>
                {%if training.name not in user_saved%}
                <form action="{{ url_for('save_training') }}" method="post">
                    <button onclick="Toggle(this)" class='mark'>
                    <span class="material-icons-outlined" >
                        bookmark
                    </span>
                    </button>
                    <input type="hidden" name="training_id" value="{{ training._id }}">
                    <input type="hidden" name="training_name" value="{{ training.name }}">
                    <input type="hidden" name="training_description" value="{{ training.description}}">
                </form>
                {% else %}
                <form action="{{ url_for('del_training') }}" method="post">
                    <button onclick="Toggle(this)" class='mark'>
                        <span class="material-icons-outlined" style="color:black;">
                            bookmark
                        </span>
                    </button>
                    <input type="hidden" name="training_id" value="{{ training._id }}">
                    <input type="hidden" name="training_name" value="{{ training.name }}">
                    <input type="hidden" name="training_description" value="{{ training.description}}">
                </form>
                {% endif %}
            </div>
        </div>
        <a id = 'my_training'></a>
        {% endif %}
    {% endfor %}
    </div>
    </div>
{% endblock content %}