<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/static/css/my_profile.css" rel="stylesheet" />
        <link rel="icon" type="image/png" href="/static/images/weights.png">
        <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script> -->

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
      <style>
        .mark{
        background: transparent;
        border: none;
        }
        .material-icons-outlined {
        color: gray;
        }
        </style>
        <script>
            function Toggle(button){
            var to_change = button.querySelector('span');
            if (to_change.style.color == 'black'){
                to_change.style.color ='grey';

            }
            else{
                to_change.style.color ='black';
            }
            }
      </script>
    </head>
    <body>
        <div class="icon_container">
            <div class="icon_container" id="icon"></div>
        </div>
        <div class="head">
            <img src="/static/images/icon_smaller.png" width='70px'>
            <div class="sections" id="slogan">|     Обери, що тренуємо сьогодні</div>
            <div class="sections" id="my_training"><a class="underline-hover-effect" href="{{ url_for('main_page') }}">Головна</a></div>
            <div class="sections" id="profile_section"><a class="underline-hover-effect" href="{{ url_for('my_profile') }}">Мій профіль</a></div>
            <div class="sections" id="main_section"><a class="underline-hover-effect" href="{{ url_for('my_training') }}">Моє тренування</a></div>
        </div> 
        <div class="gray_bcground">
            <span class="v633_61"><h2>Мій профіль</h2></span>
            <div class="personal_info">
                <img id="output">
                <script src="/static/js/profile_photo.js"></script>
                <p class = 'characteristics'>Імʼя користувача: {{user_data['name']}} </p>
                <p class = 'characteristics'>Вага:  {{ user_data['weight']}} кг</p>
                <p class = 'characteristics'>Зріст:  {{ user_data['height']}} см</p>
                <p class = 'characteristics'>Стать: {{ user_data['gender']}}</p>
                <div style="display: flex; justify-content: space-between;">
                    <a href="{{ url_for('update_parameters')}}" class="button" style="font-family: Montserrat;">Змінити параметри</a>
            </div>
            <br>
            <br>
            <p class = 'characteristics'><strong>Відслідковуй свій прогрес</strong></p>
            <div style="height: 80vh; display: flex;justify-content: space-around;margin-inline: 10%;">
                <canvas id="myChart"></canvas>
            </div>
         
            <script>
                const labels = {{ labels | tojson }};
         
                const data = {
                    labels: labels,
                    datasets: [{
                        label: 'Heigth',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: {{ heights_data | tojson }},
                        lineTension: 0.2,
                    },
                    {
                        label: 'Weight',
                        backgroundColor: 'rgb(75, 192, 192)',
                        borderColor: 'rgb(75, 192, 192)',
                        data: {{ weights_data | tojson }},
                        lineTension: 0.2
                    }]
                };
         
                const config = {
                    type: 'line',
                    data: data,
                    options: {
                        maintainAspectRatio: false,
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    color: 'rgb(255, 99, 132)'  // Color for the first y-axis
                                }
                            }
                        }
                    }
                };
         
                const myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );
         
            </script>
            
            

            <!-- <img src="data:image/jpeg;base64,{{ image_data }}"> -->
            <div class='profile'>
                <!-- <div class="profile-pic" style="display: flex;">
                    <label class="-label" for="file">
                        <span class="glyphicon glyphicon-camera"></span>
                        <img id="output" width="200" src="/static/images/Default_pfp.svg.png"/></span>
                    </label>
                    <input type="hidden" id="profile-pic" name="profile-pic" value='' style="display: none;"/>
                </div>-->
            </div>
            <br>
            
            </div>
            <br><br>
            {% if user_trainings %}
            {%block your_trainings%}
            {%endblock your_trainings%}
            {%endif%}
            <div class="out_or_delete">
                <a href="/user/clear_saved" class="button" style="font-family: Montserrat;">Очистити збережені</a>
                <a href="/user/signout" class="button" style="font-family: Montserrat;">Вийти з профілю</a>
            </div>
        </div>
    </body> 
</html>

<!-- [
    { time: '2014', weight: 50, height: 90},
    { time: '2015', weight: 65,  height: 75},
    { time: '2016', weight: 50,  height: 50},
    { time: '2017', weight: 75,  height: 60},
    { time: '2018', weight: 80,  height: 65},
    { time: '2019', weight: 90,  height: 70},
    { time: '2024', weight: 160, height: 95}
    ],
{
                        label: 'Weight',
                        backgroundColor: 'rgb(75, 192, 192)',
                        borderColor: 'rgb(75, 192, 192)',
                        data: {{ weights_data | tojson }},
                        yAxisID: 'y-axis-2',
                        lineTension: 0.2
                    } 
                
 yAxisID: 'y-axis-2', 
,
                            'y-axis-2': {
                                position: 'right',
                                beginAtZero: true,
                                ticks: {
                                    color: 'rgb(75, 192, 192)'  // Color for the first y-axis
                                }
                            }-->


    