<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/static/css/my_profile.css" rel="stylesheet" />
        <link rel="icon" type="image/png" href="/static/images/weights.png">
    </head>
    <body>
        <div class="icon_container">
            <div class="icon_container" id="icon"></div>
        </div>
        <div class="head">
            <img src="/static/images/icon_smaller.png" width='70px'>
            <div class="sections" id="slogan">|     Обери, що тренуємо сьогодні</div>
            <div class="sections" id="my_training"><a href="{{ url_for('main_page') }}">Головна</a></div>
            <div class="sections" id="profile_section"><a href="{{ url_for('my_profile') }}">Мій профіль</a></div>
            <div class="sections" id="main_section"><a href="{{ url_for('my_profile') }}">Моє тренування</a></div>
        </div> 
        <div class="gray_bcground">
            <span class="v633_61"><h2>Мій профіль</h2></span>
            <div class = 'profile_photo'></div>
            <p class = 'characteristics'>Імʼя користувача: {{session['user']['name']}} </p>
            <p class = 'characteristics'>Вага:  {{session['user']['weight']}}</p>
            <p class = 'characteristics'>Зріст:  {{session['user']['height']}} см</p>
            <p class = 'characteristics'>Стать: {{session['user']['gender']}}</p>
        </div>
        <div class="saved_trainings" id ="training">
            <span class="v633_61"><h2>Збережені тренування</h2></span>
            <div class="grid">
                <div class="grid__item_video">
                    <div class = "video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/SbVaA2XgDwI?si=YnOASgwFgt1-iyLZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="description">
                        <h2>Розгинання руки у нахилі</h2>
                        <p>Розгинання руки в нахилі – це унікальне рух, яке не схоже на інші вправи для трицепса. Частково воно імітує французькі жими, але вважається більш щадним для ліктьового суглоба.</p>
                        <p>Розгинання рук з гантелями ідеально підходить для пампінгу і многоповторного тренінгу. Також рекомендується для стато-динамічної методики тренувань, але в такому випадку необхідно працювати у скороченій амплітуді і не виконувати повне випрямлення в лікті.</p>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="grid__item_video">
                    <div class = "video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/OQqT_3Q2GrE?si=poynPsqQgqQZ-LuI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="description">
                        <h2>Розведення гантель на плечі у сторони</h2>
                        <p>Розведення рук з гантелями - це фізична вправа, що виконується з додатковим обтяженням задля збільшення сили та об'єму дельтоподібних м'язив плеча.</p>
                        <p>Виконуйте підйом так, щоб у верхній точці руху плечей, лікоть і кисть утворювали одну пряму лінію, а мізинці повинні бути вище великих пальців. Намагайтеся якомога менше розгойдуватися тулубом – інерція значно зменшує ефективність вправи. Не опускайте руки повністю вниз і не торкайтеся ними ніг. Не варто використовувати занадто велику вагу, інакше ви просто не зможете відчути роботу дельтоподібних м’язів. На вдиху – плавно вниз, на видиху – вгору.</p>
                    </div>
                </div>
            </div>
            <a id = 'my_training'></a>
        </div>
    </body> 
</html>
