{% extends "my_profile.html" %}

{% block your_trainings %}
    <div class="saved_trainings" id ="training">
    <span class="v633_61"><h2>Збережені тренування</h2></span>
    <hr>
    <br>
    <div class='cantainer-3'>
    <div class="saved_trainings">
    <label for="search" class="search__label" style="display: block; text-align: center; margin-bottom: 20px; font-family: Montserrat; font-size: 36px;">Знайти у збережених</label>
    <input type="search" id="search" name="search" placeholder="Шукати за назвою...">
    {% for training_obj in user_trainings%}
    <div class="grid">
        <div class="grid__item_video">
            <div class="video">
                <iframe width="560" height="315" src="{{ training_obj['training_url'] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="description">
                <h2>{{ training_obj['training_name'] }}
                    <form action="{{ url_for('save_training') }}" method="post">
                        <button onclick="Toggle(this)" class='mark'>
                            <span class="material-icons-outlined"  style="color:black;">
                                bookmark
                            </span>
                        </button>
                        <input type="hidden" name="training_url" value="{{ training_obj['training_url'] }}">
                        <input type="hidden" name="training_name" value="{{ training_obj['training_name'] }}">
                        <input type="hidden" name="training_description" value="{{ training_obj['training_description'] }}">
                    </form>
                </h2>
                <p>{{  training_obj['training_description'] }}</p>
            </div>
            
        </div>
    </div>
    <a id = 'my_training'></a>
    {% endfor %}
{% endblock your_trainings %}