<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/static/css/my_profile.css" rel="stylesheet" />
        <link rel="icon" type="image/png" href="/static/images/weights.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
      <style>
        .mark{
        background: transparent;
        border: none;
        }
        .material-icons-outlined {
        color: gray;
        }
        </style>
        <script>
            function Toggle(button){
            var to_change = button.querySelector('span');
            if (to_change.style.color == 'black'){
                to_change.style.color ='grey';

            }
            else{
                to_change.style.color ='black';
            }
            }
      </script>
    </head>
    <body>
        <div class="icon_container">
            <div class="icon_container" id="icon"></div>
        </div>
        <div class="head">
            <img src="/static/images/icon_smaller.png" width='70px'>
            <div class="sections" id="slogan">|     Обери, що тренуємо сьогодні</div>
            <div class="sections" id="my_training"><a href="{{ url_for('main_page') }}">Головна</a></div>
            <div class="sections" id="profile_section"><a href="{{ url_for('my_profile') }}">Мій профіль</a></div>
            <div class="sections" id="main_section"><a href="{{ url_for('my_training') }}">Моє тренування</a></div>
        </div> 
        <div class="gray_bcground">
            <span class="v633_61"><h2>Мій профіль</h2></span>
            
            <!-- <img src="data:image/jpeg;base64,{{ image_data }}"> -->
            <div class='profile'>
                <!-- <div class="profile-pic" style="display: flex;">
                    <label class="-label" for="file">
                        <span class="glyphicon glyphicon-camera"></span>
                        <img id="output" width="200" src="/static/images/Default_pfp.svg.png"/></span>
                    </label>
                    <input type="hidden" id="profile-pic" name="profile-pic" value='' style="display: none;"/>
                </div>-->
            </div>
            <br>
            <img id="output">
            <script src="/static/js/profile_photo.js"></script>
            <p class = 'characteristics'>Імʼя користувача: {{user_data['name']}} </p>
            <p class = 'characteristics'>Вага:  {{ user_data['weight']}} кг</p>
            <p class = 'characteristics'>Зріст:  {{ user_data['height']}} см</p>
            <p class = 'characteristics'>Стать: {{ user_data['gender']}}</p>
            <div style="display: flex; justify-content: space-between;">
                <a href="{{ url_for('update_parameters')}}" class="button" style="font-family: Montserrat;">Змінити параметри</a>
                <!-- <a href="/user/signout" class="button" style="font-family: Montserrat;">Вийти з профілю</a> -->
            </div>
            <br><br>
        </div>
        {% if user_trainings %}
        {%block your_trainings%}
        {%endblock your_trainings%}
        {%endif%}
        <a href="/user/signout" class="button" style="font-family: Montserrat;">Вийти з профілю</a>
    </body> 
</html>
