<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="/static/css/registration_form.css" rel="stylesheet" />
    </head>
    <body>
        <div class="icon_container">
            <div class="icon_container" id="icon"></div>
        </div>
        <div class="gray_bcground">
            <span class="v633_61"><h2>Реєстрація</h2> </span>
            <p style="text-align: center; font-family: Montserrat;">Якщо ти новий користувач</p>
            <div class="Form">
                <div class="tab-content">
                  <div id="Insertion">
                  </div>
                  <!-- Form Fields Here -->
                    <form class="Insert_Form" name="Insert_Form" method="post" action="" >
                      <input type="text" name="name"required placeholder="Імʼя">
                      <input type="email" name="email"required placeholder="Пошта">
                      <input type="password" name="password_1"required placeholder="Пароль"> 
                      <input type="password" name="password_2"required placeholder="Пароль знову">
                      <label for="bdate">Ваша дата народження</label>
                      <input type="date" name="bdate">
                      <div class="genderbox">
                        <label for="male" class="radio" style="margin: 0px;">Стать</label>
                        <label for="male"><input type="radio" id="male" name="gender" value="male">Чоловік</label>
                        <label for="female"><input type="radio" id="female" name="gender" value="female">Жінка</label>
                      </div>
                      <input type="number" name="weight"required placeholder="Ваша вага">
                      <input type="number" name="height"required placeholder="Ваш зріст"> 
                      <input type="submit" name="submit" value="Зареєструватися" class="button" />
                    </form>
                </div>
              </div>
        </div>
        
    </body> 
</html>
